.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0b7cb1cd-12c3-4635-9b76-4bde403ef1ac/dcr8irl-43bab1a5-1f75-40d9-be0c-9f26c33311ac.jpg/v1/fill/w_1024,h_576,q_75,strp/onepiece_joro_minimalist_wallpaper_by_minimalist_archive_dcr8irl-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvMGI3Y2IxY2QtMTJjMy00NjM1LTliNzYtNGJkZTQwM2VmMWFjXC9kY3I4aXJsLTQzYmFiMWE1LTFmNzUtNDBkOS1iZTBjLTlmMjZjMzMzMTFhYy5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.5BpV0sYNQMwwl2v7Aa107-X-nJhBjD44mc6Mv0lu13U");
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top:20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin:10px 0;
}

.loginInput{
    padding:10px;
    background-color: white;
    border:none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.loginRegisterButton{
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
}